body {
	margin: 0;
	height: 100%;
}
.container-liquid {
	padding: 0 15px;
	margin: 0 auto;
}

#header
{
	background-color: #FFF;
	color:#248ee8;
	border-bottom:2px solid #03335b;

}
#earth
{
	font-size: 550%;
	padding-left: 10%;
}
#logo
{
	height: 15%;
	min-height: 100px;
	max-height: 15%;
}
#title
{
	height: 15%;
	min-height: 100px;
	max-height: 15%;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	text-align: center;
	font-size: 5em;
}
#content
{
	height: 80%;
	min-height: 552px;
}

#footer
{
	position: fixed;
	height: 3.6%;
	font-size: 0.7em;
	min-height: 26px;
	padding-left: 1%;
	padding-top: 0.5%;
	border-top:1px solid #03335b;
	background-color:#FFF; 
	color:#000;
	bottom: 0px;
}

#rell
{
	height: 5%;
}


#contIzq
{
	height: 90%;
}

#contDer
{
	height: 90%;
	color:#248ee8;
}


#contIzqFixed
{
	height: 100%;
}

#remarc
{
	font-weight: bold;
	font-size: 1.3em;
	color:#248ee8;
}
#info
{
	font-size: 1.2em;
	text-align: justify;
}

#contDerFixed
{
	padding-top: 5%;
	height: 100%;
}

.lateral, .dist, .mig
{
	height: 540px;
}

#login,#register
{
	margin-top:2%;
}

#regForm
{
	border:0px solid black;
}
#logForm
{
	border:0px solid black;
	width: 100%;
}

.tbLog
{
	width: 100%;
}

.Reg
{
	width:45%;
}

.tbReg
{
	width: 100%;
}
.Log
{
	width:30%;
}
#fMenu
{
	background-color: #FFF;
	border:2px solid #03335b;
	padding:0;
}
.menu:hover
{
	background-color: #e7e7e7;
}

#fReg,#fLog
{
	background-color: #FFF;
	border:2px solid #03335b;
	padding:2% 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#butReg
{
	margin-top: 3%;
}

#regForm
{
	width:100%;
}

#contDerFixed
{
	text-align: center;
	font-size: 2em;
}

#menu
{
	margin-top: 2%;
}

.menuBar
{
	width: 100%;
	text-align: center;
}
.menu
{
	width: 33.3%;
}
#amigos
{
	border:1px solid #03335b;
}
.amigo
{
	margin-top: 2%;
}

.imgBa
{
	margin-right: 3%;
}
.verPerfil
{
	float: right;
}
.amigo
{
	padding-bottom: 2%;
	margin-bottom: 2%;
	border-bottom:1px solid #03335b;
}

#subir2
{
	position: fixed;
	width:70px;
	top:10px;
	left: 10px;
	padding: 10px 0;	
}

#subir
{
	position: fixed;
	width:70px;
	margin-left: 93%;
	margin-top: -10%;
	padding: 10px 0;
}

#progreso
{
	margin-top:8%;
	margin-bottom: 5%;
}

#timeline
{
	padding-top: 1%;
}
#titHistorial
{
	margin-top: 2%;
	margin-bottom: 4%;
}
#titTrofeos
{
	border-top:2px solid #03335b;
	margin-top: 0;
}
#titTrofeos,#titHistorial
{
	padding-top: 2%;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	color:#03335b;
}

#trofeos
{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 150px;
}
#textNova
{
	height: 10%;
	width: 100%;
}

#butNova,#butImg
{
	margin-top: 8%;
}

#historial
{
	max-height: 212px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#subir2
{
	display:none;
}
.imgHist
{
	padding :3px;
	border:1px solid #03335b;
}

.text
{
	padding: 10% 0;
}

.imgBaPer
{
	margin:3% 3.5%;
}

.imgAcc
{
	margin:2%;
}

#accions
{
	list-style: none;
}


@media(max-width: 991px){
	#content
	{

	}
	#title
	{
		font-size: 3em;
		height: 55px;
		height: 10%;
		min-height: 55px;
		max-height: 10%;
	}
	#logToogle,#regToogle,#menuToogle
	{
		background-color: #248ee8;
		border:1px solid #03335b;
		color:#FFF;
	}
	.letra
	{
		color:white;
	}

	#contIzq,#contDer,#contIzqFixed,#contDerFixed
	{
		height: auto;
	}
	.Log
	{
		width:30%;
	}
	.Reg
	{
		width:45%;
	}

	.menu
	{
		width: 100%;
	}
	.menuBar
	{
		width: auto;
	}

	#fReg,#fLog,#fMenu
	{
		padding:0 0;
		padding-left: 4%;
		border:1px solid #03335b;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	.imgAm,.imgNivel,.imgBa
	{
		margin-bottom: 2%;
	}
	#subir
	{
		display:none;
	}
	#progreso 
	{
		clear:both;
	}

	.imgHist
	{
		float:left;
	}
	.text
	{
		float:left;
		padding:5% 0;
		padding-left: 5%;
	}

@media(max-width: 767px){
	.Log,.Reg
	{
		width:100%;
	}
	.text
	{
		max-width: 250px;
	}
}